* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.span_1 {
  color: #354d9e;
}

.line {
  border: 2px solid #1da6f1;
  width: 50px;
  margin: 1.3rem 0rem;
}

header {
  background-image: url("../images/assests/bg2.png");
  background-position: 35rem 0rem;
  background-size: 60%;
  background-repeat: no-repeat;
  height: 100vh;
}

header nav {
  background-color: transparent !important;
}

header nav .nav-link {
  color: white !important;
  margin: 0rem 0.5rem;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header nav .nav-link:hover {
  border-bottom: 2px solid white;
}

header nav .btn:hover {
  background-color: #354d9e;
  color: white;
}

header .header_main .hm {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_main .hm .header_main_text p {
  font-weight: 500 !important;
}

header .header_main .hm .header_main_text .btn_box {
  margin-top: 2rem;
}

header .header_main .hm .header_main_text .btn_box .btn {
  width: 140px;
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
  background-color: #354d9e;
}

header .header_main .hm .owl-carousel .item img {
  display: block;
  margin: auto;
  width: 450px !important;
}

.marketing_tool {
  background-image: url("../images/assests/Bg-2.jpg");
  background-size: 100% 100%;
  padding: 3rem 0rem;
}

.marketing_tool .row h3 {
  color: #354d9e;
}

.marketing_tool .row .mobcard {
  text-align: right;
}

.marketing_tool .row .mobcard img {
  width: 400px;
}

.how_it_work {
  padding-top: 6rem;
}

.how_it_work h1 {
  font-size: 2.8rem !important;
}

.how_it_work .row img {
  width: 450px;
}

.extra_features h1 {
  font-size: 2.8rem !important;
}

.extra_features .extra_features_box {
  margin-top: 6rem;
  padding: 2rem 0rem;
  background-image: url("../images/assests/Bg-3.jpg");
  background-size: 100%;
}

.extra_features .extra_features_box .im {
  text-align: center;
  margin-top: 3rem;
}

.extra_features .extra_features_box .im p {
  font-size: 1.2rem;
}

.extra_features .extra_features_box .im img {
  width: 100px;
}

.our_clients {
  padding: 6rem 0rem 0rem 0rem;
}

.our_clients h1 {
  font-size: 2.8rem !important;
}

.our_clients .our_clients_box {
  background-image: url("../images/assests/bg-4.png");
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.our_clients .our_clients_box .con_1 {
  margin-top: 6rem;
  width: 60%;
}

.our_clients .our_clients_box .owl-carousel .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0rem;
}

.our_clients .our_clients_box .owl-carousel .item .item_1 {
  background-color: white !important;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.6);
  padding: 1.8rem;
  width: 80%;
}

.our_clients .our_clients_box .owl-carousel .item .item_1 i {
  color: #354d9e;
}

.our_clients .our_clients_box .owl-carousel .item .item_1 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our_clients .our_clients_box .owl-carousel .item .item_1 .box h6 {
  color: #354d9e;
  font-size: 1.1rem !important;
  margin-top: 1rem;
  font-weight: bold;
  margin-bottom: 0rem;
}

.our_clients .our_clients_box .owl-carousel .item .item_1 .box p {
  font-size: 0.8rem !important;
}

.our_clients .our_clients_box .owl-carousel .item .item_1 .box img {
  width: 50px;
  margin-right: 2rem;
}

footer .footer_top {
  padding: 4rem 0rem 2rem 0rem;
  background-color: #202020;
  color: white;
}

footer .footer_top h6 {
  font-size: 1.3rem;
  margin-top: 0.8rem;
  font-weight: bold;
  padding: 0rem 0rem 1.8rem 0rem;
}

footer .footer_top p {
  padding-right: 5rem;
  font-weight: 500;
}

footer .footer_top ul {
  padding: 0rem;
  list-style: none;
}

footer .footer_top ul li {
  font-weight: 500;
}

footer .footer_top ul li i {
  color: #387AC7;
}

footer .footer_top ul li a {
  text-decoration: none;
  color: white;
}

footer .footer_top .media i {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1rem;
}

footer .footer_fot {
  background-color: black;
  padding: 0.1rem 0rem;
}

footer .footer_fot i {
  color: red;
  margin: 0rem 0.2rem;
}

/*****************************************************End of Desktop********************************************************/
@media only screen and (max-width: 550px) {
  header nav {
    background-color: transparent !important;
  }
  header nav .nav-link {
    color: black !important;
    text-align: center;
    border-bottom: 2px solid transparent;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  header nav .nav-link:hover {
    border-bottom: 2px solid white;
  }
  header nav .btn:hover {
    background-color: #354d9e;
    color: white;
  }
  header .header_main .hm {
    height: 40vh;
  }
  .marketing_tool {
    background-size: cover;
  }
  .marketing_tool .row h3 {
    margin-top: 2rem;
    text-align: center !important;
  }
  .marketing_tool .row .line {
    margin: auto;
  }
  .marketing_tool .row p {
    margin-top: 1.5rem;
    text-align: center;
  }
  .how_it_work {
    padding-top: 3rem;
  }
  .how_it_work h1 {
    font-size: 2rem !important;
  }
  .how_it_work .row .hm {
    text-align: center;
  }
  .extra_features h1 {
    margin-top: 2.5rem;
  }
  .extra_features .extra_features_box {
    margin-top: 4rem;
    padding: 1rem 0rem;
    background-size: cover;
  }
  .extra_features .extra_features_box .im {
    text-align: center;
    margin-top: 2rem;
  }
  .extra_features .extra_features_box .im p {
    font-size: 1.2rem;
  }
  .extra_features .extra_features_box .im img {
    width: 100px;
  }
  .our_clients .our_clients_box {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .our_clients .our_clients_box .con_1 {
    width: 100%;
  }
  footer .footer_top {
    padding: 2rem 0rem 2rem 0rem;
  }
  footer .footer_top h6 {
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 0.1rem;
  }
  footer .footer_top img {
    display: block;
    margin: auto;
  }
  footer .footer_top p {
    padding-right: 0rem;
    text-align: center;
  }
  footer .footer_top ul {
    text-align: center;
  }
  footer .footer_top ul li i {
    color: #387AC7;
    text-align: center;
  }
  footer .footer_top .media {
    text-align: center !important;
  }
  footer .footer_top .media i {
    margin: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */