* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

//var
$color_1: #354d9e;
$color_2: #202020;

//css classes
.span_1 {
    color: #354d9e;
}
.line {
    border: 2px solid #1da6f1;
    width: 50px;
    margin: 1.3rem 0rem;
}
// start main css

header {
    background-image: url("../images/assests/bg2.png");
    background-position: 35rem 0rem;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 100vh;
    nav {
        background-color: transparent !important;
        .nav-link {
            color: white !important;
            margin: 0rem 0.5rem;
            border-bottom: 2px solid transparent;
            transition: 0.8s;
        }
        .nav-link:hover {
            border-bottom: 2px solid white;
        }
        .btn:hover {
            background-color: $color_1;
            color: white;
        }
    }
    .header_main {
        .hm {
            height: 75vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .header_main_text {
                p {
                    font-weight: 500 !important;
                }
                .btn_box {
                    margin-top: 2rem;
                    .btn {
                        width: 140px;
                        font-size: 0.9rem;
                        color: white;
                        font-weight: bold;
                        background-color: $color_1;
                    }
                }
            }
            .owl-carousel {
                .item {
                    img {
                        display: block;
                        margin: auto;
                        width: 450px !important;
                    }
                }
            }
        }
    }
}

.marketing_tool {
    background-image: url("../images/assests/Bg-2.jpg");
    background-size: 100% 100%;
    padding: 3rem 0rem;
    .row {
        h3 {
            color: $color_1;
        }
        .mobcard {
            text-align: right;
            img {
                width: 400px;
            }
        }
    }
}
.how_it_work {
    padding-top: 6rem;
    h1 {
        font-size: 2.8rem !important;
    }
    .row {
        img {
            width: 450px;
        }
    }
}

.extra_features {
    h1 {
        font-size: 2.8rem !important;
    }
    .extra_features_box {
        margin-top: 6rem;
        padding: 2rem 0rem;
        background-image: url("../images/assests/Bg-3.jpg");
        background-size: 100%;
        .im {
            text-align: center;
            margin-top: 3rem;
            p {
                font-size: 1.2rem;
            }
            img {
                width: 100px;
            }
        }
    }
}

.our_clients {
    padding: 6rem 0rem 0rem 0rem;
    h1 {
        font-size: 2.8rem !important;
    }
    .our_clients_box {
        background-image: url("../images/assests/bg-4.png");
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        .con_1 {
            margin-top: 6rem;
            width: 60%;
        }
        .owl-carousel {
            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2rem 0rem;
                .item_1 {
                    background-color: white !important;
                    border-radius: 1rem;
                    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.6);
                    padding: 1.8rem;
                    width: 80%;
                    i{
                        color: $color_1;
                    }
                    .box {
                        display: flex;
                        align-items: center;
                        h6 {
                            color: $color_1;
                            font-size: 1.1rem !important;
                            margin-top: 1rem;
                            font-weight: bold;
                            margin-bottom: 0rem;
                        }
                        p {
                            font-size: 0.8rem !important;
                        }
                        img {
                            width: 50px;
                            margin-right: 2rem;
                        }
                    }
                }
            }
        }
    }
}

footer{
    .footer_top{
        padding: 4rem 0rem 2rem 0rem;
        background-color: $color_2;
        color: white;
        h6{
            font-size: 1.3rem;
            margin-top: 0.8rem;
            font-weight: bold;
            padding: 0rem 0rem 1.8rem 0rem;
        }
        p{
            padding-right: 5rem;
            font-weight: 500;
        }
        ul{
            padding: 0rem;
            list-style: none;
            li{
                font-weight: 500;
                i{
                    color: #387AC7;
                }
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
        .media{
            i{
                cursor: pointer;
                font-size: 2rem;
                margin-right: 1rem;
            }
        }
    }
    .footer_fot{
        background-color: black;
        padding:0.1rem 0rem;
        i{
            color: red;
            margin:0rem 0.2rem;
        }
    }
}

/*****************************************************End of Desktop********************************************************/

@media only screen and (max-width: 550px) {
    header {
        nav {
            background-color: transparent !important;
            .nav-link {
                color: black !important;
                text-align: center;
                border-bottom: 2px solid transparent;
                transition: 0.8s;
            }
            .nav-link:hover {
                border-bottom: 2px solid white;
            }
            .btn:hover {
                background-color: $color_1;
                color: white;
            }
        }
        .header_main {
            .hm {
                height: 40vh;
            }
        }
    }
    .marketing_tool {
        background-size: cover;
        .row {
            h3 {
                margin-top: 2rem;
                text-align: center !important;
            }
            .line {
                margin: auto;
            }
            p {
                margin-top: 1.5rem;
                text-align: center;
            }
        }
    }

    .how_it_work {
        padding-top: 3rem;
        h1 {
            font-size: 2rem !important;
        }
        .row {
            .hm {
                text-align: center;
            }
        }
    }
    .extra_features {
        h1 {
            margin-top: 2.5rem;
        }
        .extra_features_box {
            margin-top: 4rem;
            padding: 1rem 0rem;
            background-size: cover;
            .im {
                text-align: center;
                margin-top: 2rem;
                p {
                    font-size: 1.2rem;
                }
                img {
                    width: 100px;
                }
            }
        }
    }

    .our_clients{
        .our_clients_box{
            background-size: cover;
            background-repeat: no-repeat;
            .con_1{
                width: 100%;
            }
        }
    }

    footer{
        .footer_top{
            padding: 2rem 0rem 2rem 0rem;
            h6{
                text-align: center;
                margin-top: 2rem;
                padding-bottom: 0.1rem;
            }
            img{
                display: block;
                margin:auto;
            }
            p{
                padding-right: 0rem;
                text-align: center;
            }
            ul{
                text-align: center;
                li{
                  
                    i{
                        color: #387AC7;
                        text-align: center;
                    }
                }
            }
            .media{
                text-align: center !important;
                i{
                    margin: 1rem;
                }
            }
        }
    }
}
